footer {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 5em 0;
}

.footer-grid {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(10em, 1fr));
    gap: 5em;
}

.footer-parent {
    font-size: 1.4em;
    font-weight: 700;
}

.footer-sublinks {
    margin-top: 1.2em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.footer-icon {
    width: 1.6em;
}

.footer-social-list {
    display: flex;
    flex-direction: column;
    gap: 2em;
}